.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.feedbackButton {
  display: block;
  padding: 5px 10px;
  text-transform: capitalize;
  color: aliceblue;
  background-color: rgb(198, 72, 72);
  border: transparent;
  border-radius: 3px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
  cursor: pointer;

}